/* root */
:root {
  --black: #000;
  --white: #fff;
  --yellow: #f6c34a;
  --green-act: rgb(104, 230, 132);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  text-decoration: none;
  list-style: none;
}

.font-poppins {
  font-family: "Poppins";
}

.active {
  color: var(--green-act);
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transform: scale(1.03);
  text-decoration: underline;
  color: var(--green-act);
}
/* hearder */
.header {
  width: 100%;
  height: 10vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.6rem;
  text-align: center;
  margin-right: 10rem;
}

.nav-links > li > a {
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1rem;
}

.header > a {
  width: 15%;
  align-items: center;
  margin-left: 10rem;
}

#logo {
  width: 100%;
  height: 100%;
}
/* wpp */
.wpp-logo {
  position: fixed;
  width: 4.4%;
  left: 90%;
  right: 0;
  top: 85%;
  bottom: 0;
  float: right;
  background-color: transparent;
}

body {
  background-color: var(--yellow);
  padding-bottom: 2rem;
}
/* index */
.hero-page {
  height: 66vh;
  background: var(--yellow) url(../assets/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero-texts {
  text-align: center;
}

.hero-texts > h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.hero-texts > p {
  font-size: 1.5rem;
}

.btn-hero {
  background-color: var(--black);
  color: var(--white);
  height: 7vh;
  width: 30vw;
  text-align: center;
  border-radius: 10px;
  padding-top: 1.1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-hero:hover {
  background-color: var(--green-act);
  color: var(--white);
}

.about {
  background-color: var(--black);
  color: var(--white);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aside-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 70%;
  height: 80vh;
}

.title-about {
  font-size: 1.7rem;
}

.depoimen {
  background-color: var(--black);
  display: flex;
  align-items: center;
  color: var(--white);
  flex-direction: column;
  height: 70vh;
  padding: 1.3rem;
}

.depoimen > h2 {
  font-size: 1.7rem;
}

.cards-depoi {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

.card-depoi {
  background-color: var(--white);
  color: var(--black);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 33vh;
  width: 80%;
  border-radius: 10px;
}

.card-depoi > img {
  height: 10vh;
}

/* cursos */
.section-cards-curso {
  width: 100%;
  height: 66vh;
  align-items: center;
}

.cards-curso {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 30vh;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  padding: 6% 5%;
  gap: 3rem;
}

.card-curso {
  background-color: var(--white);
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
}

.h2s-curso {
  margin-bottom: 2rem;
}

.btn-cards {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding-top: 1.1rem;
  height: 7vh;
  width: 30vw;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-cards:hover {
  background-color: var(--green-act);
  color: var(--white);
}

.detalhes-cards {
  width: 100%;
  height: 85vh;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deta {
  height: 75%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.card-deta {
  background-color: var(--white);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2rem;
  align-items: center;
}
/* adm */
.main-adm {
  display: flex;
  width: 100%;
  height: 80vh;
}

#nabar-adm {
  background-color: var(--black);
  color: var(--white);
  width: 17%;
  padding-top: 2rem;
}

.ul-id-nabar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  font-weight: bold;
}

.a-adm-nav {
  color: #707070;
}

.active-adm {
  color: var(--white);
  text-decoration: none;
}

.area-adm {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  width: 83vw;
}

.busca-adm {
  display: flex;
  align-items: center;
  text-align: center;
}

.busca-adm > button {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  width: 80px;
  border-radius: 3px;
  border: none;
  height: 3.1vh;
  margin-top: 3rem;
}

.busca-adm > button:hover {
  background-color: var(--green-act);
  cursor: pointer;
}

.busca-adm > input {
  height: 3.1vh;
  border: none;
  width: 20vw;
  padding-left: 1rem;
  margin-top: 3rem;
}

.cards-turmas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
}

.card-turma {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* height: 55%; */
  min-width: 22%;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.7rem;
}

.card-turma > p {
  padding-left: 1rem;
}

.h4-turmas {
  text-align: center;
}

.span-turma {
  font-weight: bold;
}

/* fianceiro */
.financeiro-sec,
.relatorio,
.matriculas,
.aluno-matri {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 0 7rem;
  width: 41%;
}

.relatorio > h3,
.financeiro-sec > h3,
.matriculas > h3 {
  margin-bottom: 1.5rem;
}

.relatorio > .btn-adm-pages,
.financeiro-sec > .btn-adm-pages {
  display: block;
  margin: 1.5rem 0 4.5rem 0;
}

.btn-adicionar {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border-radius: 8px;
  height: 3.3vh;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 30%;
  border: none;
}

.btn-adicionar:hover,
.btn-adm-pages:hover {
  cursor: pointer;
  background-color: var(--green-act);
  transition: 0.5s;
  -webkit-transform: scale(1.03);
}

.btn-adm-pages {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border-radius: 8px;
  height: 4.3vh;
  width: 80%;
  border: none;
}

.relatorio > input,
.financeiro-sec > input,
.matriculas > input {
  height: 3.1vh;
  border: none;
  width: 80%;
  padding-left: 1rem;
}

/* matricula */
.matriculas > input {
  margin-bottom: 0.5rem;
}

.matriculas > button {
  margin-top: 1rem;
}

.aluno-matri > h3 {
  display: flex;
  text-align: center;
}

.certo {
  width: 30%;
  height: 30%;
}

/* contato */
.contato-sec {
  background-color: var(--black);
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-con {
  background-color: var(--white);
  padding: 3rem;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form-con > h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-con > input {
  font-weight: bold;
}

.btn-form {
  background-color: var(--yellow);
  color: var(--black);
  font-weight: bold;
  height: 5vh;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.btn-form:hover {
  background-color: var(--black);
  color: var(--yellow);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transform: scale(1.03);
}

/* footer */
.footer {
  background-color: var(--yellow);
  width: 98vw;
  height: 38vh;
  padding-bottom: 1rem;
  border-top: 1px solid black;
  margin-bottom: 2rem;
}

.footer-cont {
  width: 99%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: center;
  gap: 3.3rem;
  padding-bottom: 4rem;
}

.logo-footer > img {
  width: 10%;
  margin: 1rem auto 1rem 7rem;
}

.endereco {
  height: 100%;
}

iframe > #map {
  width: 100%;
  height: auto;
}

.titles-footer {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.uls-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.8rem;
}

.redes-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1.25rem;
}
